body{
    font-family: 'Open Sans', sans-serif;
}
/* New year design start */
.nav-style{
    justify-content: center;
    align-items: center;
}
.header{ 
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    width:1300px;
    height: 600px;
    position: relative;
    border-radius: 10px;
}
.banner{
    color:cyan;
    justify-content: center;
    align-items: center;
    position:absolute;
    margin-left: 320px;
    margin-top: 40px;
}
.banner-title{
    font-family:merriweather ;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}
.banner-descraftion{
    text-align: center;
    font-family: merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top:10px;
   width:632px;
}
/* New year design end */

/* 50% off start */
.off-sale{
    background-color: rgb(239, 223, 223);
     position: relative;
    width:1500px;
    height: 700px;
    margin-top:200px;
    justify-content: center;
    align-items: center;
 
}
.offer-descraftion{
     position: absolute;
     margin-left:400px; 
}
.title1{
    text-align: center;
    font-size:40px;
    font-weight: 400;
    color:rgb(60, 126, 192);
    font-family:Inter ;
    
}
.title2{
    margin-bottom: 0;
   color:red;
   text-align: center;
   font-family:merriweather ;
   font-size:15px
}
.title3{
    color:rgb(60, 126, 192);
    text-align: center;
    font-family:merriweather ;
    margin-top: 10px;

}
.img{
    text-align: center;
    width:500px;
    height:300px;
}
/* 50% off end */

/*  party start*/
.party{
    background-image: url('../images/Vectorrr.png') ;
    background-repeat: no-repeat;
    width:1300px;
    height: 500px;
    margin-top: 650px;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.midnight-party{
    text-align: center;
    position: absolute;
}
.party-title{
    color:white;
    width:642px;
    font-size: 73px;
    font-weight: 900;
    padding:50px;
    font-family:merriweather ;
    margin-bottom: 0;
}
.party-descriftion{
    display: inline;
    width: 10px;
    color:white;
    font-family:merriweather ;
    font-size:20px;
    font-weight:18px ;
}
 #img{
    width:290px;
    height: 400px;;
    
}
/* party end */