body{
    font-family: 'Open Sans', sans-serif;
}
/* New year design start */
.nav-style{
    justify-content: center;
    align-items: center;
}
.header{ 
    margin: 0 auto;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    width:1300px;
    height: 600px;
    position: relative;
    border-radius: 10px;
}
.banner{
    color:cyan;
    justify-content: center;
    align-items: center;
    position:absolute;
    margin-left: 320px;
    margin-top: 40px;
}
.banner-title{
    font-family:merriweather ;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0;
}
.banner-descraftion{
    text-align: center;
    font-family: merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top:10px;
   width:632px;
}
/* New year design end */
/* main start */

/* 50% off start */
.off-sale{
    margin: 0 auto;
    background-color: rgb(239, 223, 223);
    width:1300px;
    height: 700px;
    margin-top:1500px;
    
}
.offer-descraftion{
    text-align: center;
   
}
.title1{
    text-align: center;
    font-size:40px;
    font-weight: 400;
    color:rgb(60, 126, 192);
    font-family:Inter ;
    
}
.title2{
    margin-bottom: 0;
   color:red;
   text-align: center;
   font-family:merriweather ;
   font-size:15px
}
.title3{
    color:rgb(60, 126, 192);
    text-align: center;
    font-family:merriweather ;
    margin-top: 10px;

}
.img{
    text-align: center;
    width:400px;
    height:300px;
    
}
/* 50% off end */

/*  party start*/
.party{
    margin: 0 auto;
    background-image: url('../images/Vectorrr.png') ;
    background-repeat: no-repeat;
    width:1300px;
    height: 500px;
    margin-top: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}
.midnight-party{
    text-align: center;
}
.party-title{
    color:white;
    width:642px;
    font-size: 73px;
    font-weight: 900;
    padding:50px;
    font-family:merriweather ;
    margin-bottom: 0;
}
.party-descriftion{
    display: inline;
    width: 10px;
    color:white;
    font-family:merriweather ;
    font-size:20px;
    font-weight:18px ;
}
.btn {
}

 #img{
    width:290px;
    height: 400px;
    position: relative;
    
}
.party-img{
 position: absolute;
 
}
/* party end */
/* card1 start */
.card-design{
    margin:0 auto;
    background-color:rgb(231, 223, 223);
    width:500px;
    height:300px;
    margin-top:150px;
    border-radius:10px ;
   
    box-shadow:0 1px 2px 0;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-descraftion{
       text-align: center;
       color: black;
     line-height: 5px;
     margin-top: 50px;
     font-size: 20px;
     font-family:Inter ;
    
}
span{
    color:red;
}
button{
    color:white;
    background-color: red;
    border:none;
    padding:10px;
    margin-top: 10px;
    border-radius: 5px;
}
/* card1 end */

/* card2 start */
.card-design1{
    margin:0 auto;
    background-color:white;
    width:1050px;
    height:400px;
    margin-top:200px;
    border-radius:10px ;
    box-shadow:0 10px 8px 0 rgba(194, 191, 191, 0.2);
    
} 
.special-card{
      width:1000px;
      height:400px;
      display: flex;
    justify-content: space-between;
}
.left{
    margin-top: 100px;
    line-height: 5px;

}
.left-title{
    color:red;
    font-size: 15px;
}
.left-offer{
  font-size: 40px;
  font-family: merriweather;
 
}
.left-descriftion{
      font-size:15px;
      line-height: 15px;
}
.img{ 
    width:350px;
    height:400px;
    margin: 0 50px 0 50px;
   margin-bottom: 0;
}
.img-design{
    border: 10px solid red;
    border-radius: 100%;

    padding:5px;
}
.right{
}
.right-title{
    color:red;
    font-size:64px;
}
.right-descriftion{
    font-size: 15px;
    font-family: merriweather;
    line-height: 15px;
}
.new-year-pic{
   width:50px;
   height:30px;
 
}
.right-img{
    width:140px;
    height:140px;
}
/* card2 end */
/* card3 start */
.card-design2{
    margin: 0 auto;
    background-color:white;
    width:1000px;
    height:728px;
    margin-top:400px;
    border-radius:10px ;
    box-shadow:0 10px 8px 0 rgba(194, 191, 191, 0.2);
   
} 
 .special-card2{
    line-height:10px ;
}

 #title{
     text-align: center;
     margin-top:4px;
}
 #big-title{
    text-align: center;
    letter-spacing: 0;
    font-size:40px;
    font-family: intel;
}
#card-descrafition{
    text-align: center;
    line-height:20px ;
     font-size: 20px;
}
span{
    color:red;
}
.img-red{
    background-image: url('../images/Rectangle\ 2.png');
    background-repeat: no-repeat;
     margin-bottom:320px;
     width:1000px;
     
     
}
.Celebration-img{
    margin-bottom: 1600px;
    height:400px;
    
}
.img-girl{
    background-image: url('../images/Rectangle\ 1.png');
    background-repeat: no-repeat;
    width:200px;
    margin-top:170px;
    margin-left: 800px;
    background-size: 200px;
}

/* card3 end */
/* picture start */
 .picture{
    margin:0 auto;
      width:1000px;
      height: 700px;
      margin-top:400px;
    border-radius:10px ;
    box-shadow:0 10px 8px 0 rgba(194, 191, 191, 0.2);
    
 }
 .picture-titles{

 }
 .pic-tit{
    margin-top:4px;
    font-size: 15px;
   color: red;
 }
 .pic-tit2{
       font-size:30px;
       font-family: inter;
       color:black;
 }
 .pic-des{
     font-size:15px;
     color: rgb(120, 116, 116);
 }
 .add-pic{
   margin-top: 30px;
   display: flex;
   justify-content: space-between;
 
 }
 .img-tag{
    width:300px;
    height:250px;
 }
 .add-pic2{
    display: flex;
 justify-content: space-between;
 
 }
 .img-tag2{
    width:300px;
    height:250px;
 }
 .img-tag:hover{
    border:3px solid cyan;
    margin: 20px;
    box-shadow: 0 10px 8px 0 rgba(92, 5, 5, 0.474);
 }
 .img-tag2:hover{
    border:3px solid cyan;
    margin: 20px 20px 0px 20px;
    box-shadow: 0 10px 8px 0 rgba(92, 5, 5, 0.474);
 }

/* picture end */
/* email start */
     .email{
        margin:0 auto;
        background-color:  rgb(231, 223, 223);          
        width:600px;
        height:350px;
        margin-top:150px;
        border-radius:10px ;
       
        box-shadow:0 10px 8px 0 rgba(0,0,0,0.2);
     }
     .email-tag{
             text-align: center;
     }
     .email-img{
          width:150px;
          height: 150px;
     }
     .email-tag-tit{
              font-family: intel;
              font-weight: 40px;
              font-size:30px;
     }
     .email-tag-des{
             font-family:merriweather ;
     }
     .input{
        text-align: center;
        display: flex;
        background-color: white;
        padding:2px 2px 2px 2px;
        width:300px;
        border-radius: 30px;
        justify-content: center;
        align-items: center;
        margin-left:150px;
        box-shadow: 0 1px 2px 0 ;
     }
     .input1{
        border:none;
        width:300px;
        text-align: center;
     }
     .btn1{
        border-radius: 30px;
      margin: 0 auto;
      padding:10px;
     }
/* email end */
/* main end */
/* footer start */
.footer-contenair{
    margin: 0 auto;
    margin-top: 100px;
    width:1000px;
    background-color: navy;
    text-align: center;
    margin-left: px;
}
.footer-contant{
     padding: 20px;
}
.footer-head{
    display:flex;
    justify-content: space-around;
    padding: 20px;
}
.head-p{
   color:white;
   
}
.img-icon{
    color:white;
}
.tele-img{
    margin-top: 10px;
    margin-right: 10px;
    width:15px;
}
.web-img{
    margin-top: 10px;
    margin-right: 10px;
    width:15px;

}
.iconing-img{
    text-align: center;
    padding: 20px;
    
}
.iconing-img-size{
    width:30px;
}
.foot-end{
    color:white;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px 30px 20px;
}
hr{
    width:700px;
    opacity: 0.2;
}
/* footer end */